<%- include('../layout/UserHeader.ejs') %>
<main class="main single-page">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> About us
            </div>
        </div>
    </div>
    <section class="section-padding">
        <div class="container pt-25">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                    <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                    <h3 class="font-heading mb-40">
                       
                     Elevating Lives, Empowering Earth: Our Corporate Commitment to Sustainability
                    </h3>
                    <p>Good for the Earth, Good for You
                        At Saika Eco-living, our goal is to 'make sustainability mainstream'.
                         We aim to achieve this by establishing an ecosystem that integrates 
                         impactful solutions. Over the years, we have evolved through the mindful 
                         understanding of 'good for the Earth, good for us!', aligning with the United 
                         Nations’ Sustainable Development Goals (SDGs). </p>
                    <p>"Fostering a healthier Earth not only enhances our well-being but also reflects 
                        our corporate commitment to sustainability, enriching lives both globally and 
                        within our organization." </p>
                </div>
                <div class="col-lg-6">
                    <img src="userassets/imgs/page/about-1.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../layout/UserFooter.ejs') %>